<h1>Users#new</h1>
<%= form_for @user do |f| %>
    <div>
    <%= f.label :first_name %>
      <%= f.text_area :first_name %>
    </div>

    <fiv>
      <%= f.label :second_name %>
      <%= f.text_area :second_name %>
    </fiv>

    <div>
      <%= f.submit %>
    </div>
<% end %>